@{
    ViewData["Title"] = "Home Page";
}

<div>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <form id="login_form" method="post" action="@Url.Content("~/Home/Main")">
        <div class="form-floating">
            <input type="email" class="form-control" id="login_email" placeholder="name@example.com">
            <label for="login_email">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="login_pwd" placeholder="Password">
            <label for="login_pwd">Password</label>
        </div>

        <div class="form-check text-start my-3 d-none">
            <input class="form-check-input" type="checkbox" value="remember-me" id="login_rememberme">
            <label class="form-check-label" for="login_rememberme">
                Remember me
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit" id="login_submit">Sign in</button>
        </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        doInit();
    });

    function doInit() {
        $("body").on('submit', '#login_form', function (e) { 
            e.preventDefault();
            let loginParms = { Email: $("#login_email").val(), Password: $("#login_pwd").val() }
            doApiPost(doLoginContinue, e, loginParms, "user/login");
            
        });
    }

    function doLoginContinue(ret, e) {
        var rd = ret.data;
        var ts = ret.textStatus;
        if (rd !== null) {
            if (rd.token !== undefined) {
                localStorage.setItem('token', rd.token);
                e.currentTarget.submit();
            }
        } else {
            
            if (ret.jqXHR.statusText === "Unauthorized") {
                alert(ret.jqXHR.statusText);
            }
            else {
                alert(ret.textStatus);
            }
        }
    }

</script>
