@{
    ViewData["Title"] = "User Page";
}


<div>
        <h1 class="h3 mb-3 fw-normal">Workout User</h1>
        
        <form id="user_form">
        <div class="form-floating">
            <input type="text" class="form-control" id="user_name" placeholder="Password">
            <label for="user_name">Name</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="user_email" placeholder="name@example.com">
            <label for="user_email">Email address</label>
        </div>
        </form>

        <button class="btn btn-primary w-100 py-2" type="submit" id="user_submit">Update</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        doInit();
    });

    function doInit() {

    }


</script>
